In [37]:
import pandas as pd

In [3]:
# Create pandas serie
s = pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [6]:
# Convert panda serie to list
print(type(s))
ps = s.tolist()
print(ps)
print(type(ps))

<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10]
<class 'list'>

In [8]:
# Divide, Substract, Substract, Add 2 series
s = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
divide = s / s2
print(divide)
substract = s - s2
print(substract)
multiply = s * s2
print(multiply)
add = s + s2
print(add)

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [10]:
# Compare 2 series
equals = s == s2
print(equals)
greater = s > s2
print(greater)
lower = s < s2
print(lower)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [12]:
# Convert Dictionnary to Pandas series
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pds = pd.Series(d)
print(pds)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [16]:
# Convert numpy array to Pandas series
import numpy as np
np_array = np.array([10, 20, 30, 40, 50])
print(np_array)
pds = pd.Series(np_array)
print(pds)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
# Convert series to type numeric
s = pd.Series([100, 200, "Python", 300.15, 10])
print(s)
converted_s = pd.to_numeric(s, errors='coerce')
print(converted_s)

0       100
1       200
2    Python
3    300.15
4        10
dtype: object
0    100.00
1    200.00
2       NaN
3    300.15
4     10.00
dtype: float64

In [29]:
# Get first column of dataframe as panda series
d = {'col1':[78,85,96,80,86], 'col2':[84,94,89,83,86]}
df = pd.DataFrame(data=d)
# equivalent df.col1
s1 = df.iloc[:,0]
print(type(s1))

<class 'pandas.core.series.Series'>

In [34]:
s = pd.Series(["100", 200, "Python", 300.15, "10"])
s_array = s.tolist()
print(s_array)
print(type(s_array))
s_nparray = np.array(s.values.tolist())
print(s_nparray)
print(type(s_nparray))

['100', 200, 'Python', 300.15, '10']
<class 'list'>
['100' '200' 'Python' '300.15' '10']
<class 'numpy.ndarray'>

In [43]:
s_l = pd.Series([["red","green","white"],["red","black"],["blue"]])
s1 = s_l.apply(pd.Series).stack().reset_index(drop=True)
print(s1)

0      red
1    green
2    white
3      red
4    black
5     blue
dtype: object

In [48]:
s = pd.Series(["100", "200", "Python", "300.15", "10"])
s_sorted = s.sort_values(ascending=True)
print(s_sorted)

4        10
0       100
1       200
3    300.15
2    Python
dtype: object

In [50]:
# Add data to series
s = pd.Series(["100", "200", "Python", "300.15", "10"])
s = s.append(pd.Series(["new_value","80"]))
print(s)

0          100
1          200
2       Python
3       300.15
4           10
0    new_value
1           80
dtype: object

In [55]:
# Subset based on condition
s = pd.Series([100, 200, 300, 10])
s_subset = s[s>105]
print(s_subset)

1    200
2    300
dtype: int64